.THIS .my-style-price{
    font-weight: 500;
    font-size: 1.4rem;
    color: rgba(255, 100, 100, 0.9);
    line-height: 1.25;
}
.THIS .my-style-price-standard{
    font-size: 1rem;
    line-height: 1.25;
}
.THIS .my-style-button{
    width: 181px;
}
.THIS .my-style-button-long{
    width: 200px;
}
.THIS .my-style-no-hover{
    color: blue;
}
.THIS .slds-carousel__content{
    display: none;
}
.THIS .slds-carousel__indicator-action.slds-is-active{
    background-color: rgba(255, 100, 100, 0.9);
    border-color: rgba(255, 100, 100, 0.9);
}