.THIS .my-style-text{
    font-size: 14px;
}
.THIS a{
    font-size: 16px !important;
    color: #88c651;
    font-weight: 600;
    opacity: 0.8;
    cursor: hand;
}
.THIS .a:hover{
    opacity: 1;
    cursor: hand;
}